tmp/
debug/
codegen-dbg
gen-html-dbg
generated.cs
gen-html.txt
main.cs
cpp/
mine-pump.svg
*.mdb
*.html
generated.cpp
codegen.txt
codegen.cs
codegen.exe
tests/
cellc-cs.exe
compiler.cs
chat-server.cs
chat-server.exe
regression.cs
regression.exe
test.cell
generated.h
test-small.cell
test.cs
test.exe
test.txt
interfaces.cs
interfaces.txt
water-sensor-mixed.cs
water-sensor-mixed.exe
water-sensor-mixed-interface.cs
regression-mixed-interfaces.cs
regression-mixed.cs
regression-mixed.exe
test-mixed.exe
out-cpp.txt
out-cs.txt
out.txt
cellcd-cs.exe
codegen-dbg.cs
codegen-dbg.exe
compiler-dbg.cs
unit-tests.exe
weird-bug.cs
