tmp/
debug/
codegen-dbg
gen-html-dbg
generated.cs
gen-html.txt
main.cs
cpp/
mine-pump.svg
*.mdb
*.html
generated.cpp
codegen.txt
codegen.cs
codegen.exe
tests/
cellc-cs.exe
compiler.cs
chat-server.cs
chat-server.exe
regression.cs
regression.exe
test.cell
